@import '~styles';

.container {
  padding: 2rem;

  .steps,
  .stepsContent {
    padding-top: 2rem;
  }

  .orderContainer {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
  }

  .btn {
    @include button();
    width: 100%;
    margin-top: 1.5rem;
  }

  .cartItem {
    padding-right: 0;

    :global(.countPrice) {
      justify-content: space-between;
    }
  }

  @include mobile {
    flex-direction: column;

    .col {
      flex: auto;
      max-width: 100%;
    }
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
}