@import '~styles';

.container {
  .link {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    margin-right: .5rem;
    color: #000;
  }

  .active {
    color: $primary-color;
    border-bottom: .2rem solid $primary-color;
  }

  @include sm {
    display: none;
  }

  @include md {
    display: unset;
  }
}