@mixin button($buttonBgColor: $primary-color, $buttonColor: #fff) {
  background-color: $buttonBgColor;
  border-color: $buttonBgColor;
  color: $buttonColor;
  font-weight: 700;

  &:hover {
    @extend .btn
  }
}

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

@mixin mobile {
  @media only screen and (max-width: $screen-sm-min) {
    @content;
  }
}

@mixin tab {}

@mixin web {
  @media only screen and (min-width: $screen-sm-min) {
    @content;
  }
}