@import '../../styles/index.scss';

.container {
  padding: 2rem 5rem;
  background-color: #d6d6d6;

  .row1 {
    height: 30rem;

    .icon {
      font-size: 5rem;
      margin-right: 1rem;
    }

    .left,
    .right {
      padding: 2rem;
    }

    .link {
      text-decoration: none;
      color: #000;
    }
  }

  .row2 {
    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      justify-content: center;

      .logo {
        height: 10rem;
        width: 30rem;
        object-fit: cover;
      }
    }
  }
}