@import '~styles';

.container {
  padding: 2rem 5rem;
  background-color: #d6d6d6;

  .link {
    text-decoration: none;
    color: #000;
  }

  .platforms {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

    .header {
      color: $primary-color;
    }

    .platformContents {

      .icon {
        font-size: 5rem;
        margin-right: 2rem;
      }
    }
  }

  .footerBottom {
    .left {
      display: flex;
      align-items: center;
    }

    .right {
      display: flex;
      justify-content: center;

      .logo {
        height: 10rem;
        width: 30rem;
        object-fit: cover;
      }
    }
  }

  @include mobile {
    padding: 3rem;
  }
}