.container {
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .proposition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 1.5rem;
    padding: 1.5rem;

    .benefitContent {
      display: flex;
      align-items: center;
      width: 25rem;
      gap: 1rem;
    }
  }
}