@import '~styles';

.container {
  .header {
    font-size: 3rem;
    text-align: center;

    .icon {
      color: $primary-color;
    }
  }

  .boxContent {
    width: 25%;
    padding: 2rem;
    border: 0.1rem solid rgba(#cfcfcf6f, $alpha: 0.6);
  }

  .section {
    padding: 2rem 10rem;
  }

  .grayBg {
    background-color: #d6d6d6;
  }

  .topProductHeader {
    margin-top: 0;
  }

  .transportHeader {
    margin-bottom: 1.5rem;
  }

  .valueProtion {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 10rem;

    .value {
      @extend .boxContent;

      h3 {
        margin-top: 0;
      }
    }

    .transport {
      @extend .value;
      height: 5rem;
    }
  }

  .reviewContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;

    .review {
      @extend .boxContent;

      h1 {
        margin-top: 0;
      }

      .reviewContent {
        margin-top: 1rem;
      }
    }
  }

  .couponContainer {
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .couponHeader {
      @extend .header;
      font-size: 4rem;
      color: $primary-color;
    }

    .couponDescription {
      text-align: center;
      font-size: 2rem
    }

    .btn {
      margin-top: 3rem;
      padding: 2rem;
      font-size: 1.5rem;
      @include button;
    }
  }


  @include mobile {
    .section {
      padding: 3rem;
    }

    .valueProtion {
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      height: auto;
      gap: 1.5rem;

      .value {
        width: auto;
      }
    }

    .productContainer {
      justify-content: center;

      .products {
        max-width: 100%;
        flex: auto;
      }
    }

    .reviewContainer {
      flex-direction: column;
      gap: 1.5rem;

      .review {
        width: auto;
      }
    }

    .couponContainer {
      padding: 2rem;
    }
  }
}