@import '../../styles/index.scss';

.container {
  .header {
    font-size: 3rem;
    text-align: center;
  }

  .boxContent {
    padding: 2rem;
    border: 0.1rem solid rgba(#cfcfcf6f, $alpha: 0.6);
  }

  .section {
    padding: 2rem 10rem;
  }

  .grayBg {
    background-color: #d6d6d6;
  }

  .textCenter {
    text-align: center;
  }

  .localShippingIcon {
    color: $primary-color
  }

  .valueProtion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;

    .value {
      width: 25%;
      padding: 2rem;
      border: 0.1rem solid rgba(#cfcfcf6f, $alpha: 0.6);

      h3 {
        margin-top: 0;
      }
    }

    .transport {
      @extend .value;
      height: 5rem;
    }
  }

  .reviewContainer {
    display: flex;
    justify-content: space-between;

    .review {
      @extend .boxContent;

      h1 {
        margin-top: 0;
      }

      width: 35rem;

      .reviewContent {
        margin-top: 1rem;
      }
    }
  }

  .couponContainer {
    padding: 10rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .couponHeader {
      @extend .header;
      color: $primary-color;
    }

    .btn {
      @include button;
      margin-top: 2rem;

    }
  }
}