@import '~styles';

.container {
  padding-bottom: 2rem;

  .menu {
    @include mobile {
      display: none;
    }
  }

  .select {
    width: 100%;

    @include tv {
      display: none;
    }

    @include mobile {
      display: unset;
    }
  }
}