@import '~styles';

.container {
  height: 30rem;
  width: 20rem;
  border: .1rem solid #cfcfcf6f;
  border-radius: 1.2rem;
  padding: 1.5rem;
  cursor: pointer;

  @include mobile {
    height: 26.5rem;
    width: 15rem;
  }

  // .imgContent {
  // }

  .bodyContent {
    padding-top: 1rem;

    .name {
      height: auto;
      color: #ffbd59;
      font-size: 2rem;
      font-weight: bold;
      text-wrap: nowrap;
      white-space: wrap;
    }

    .price {
      margin: 1rem 0;
      font-size: 1.5rem;

      .rate {
        font-size: 2rem;
      }
    }
  }
}