@import '~styles';

.container {
  height: 30rem;
  width: 20rem;
  border: .1rem solid #cfcfcf6f;
  border-radius: 1.2rem;
  cursor: pointer;
  padding: 1.5rem;


  .imgContent {
    height: 20rem;
    width: 100%;
  }

  .bodyContent {
    padding-top: 1rem;

    .name {
      color: #ffbd59;
      font-size: 2rem;
      font-weight: bold;
      text-wrap: nowrap;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .price {
      margin: 1rem 0;
      font-size: 1.5rem;

      .rate {
        font-size: 2rem;
      }
    }
  }
}