@import '~styles';

.container {
  padding: 2rem;

  .breadcrumbItems {
    cursor: pointer;
  }

  .section {
    padding: 2rem 0;
  }

  .title {
    font-size: 3rem;
    margin-top: 0;
  }

  .description {
    font-size: large;
  }

  .buttons {
    text-align: center;
  }

  .radio {
    :global(.ant-radio-button-wrapper) {
      &:hover {
        color: $cashew-color !important;
      }
    }

    :global(.ant-radio-button-wrapper-checked) {
      background: $cashew-color;
      border-color: $cashew-color;
      color: #000 !important;

      &:hover,
      &::before {
        color: #000 !important;
        background: $cashew-color;
        border-color: $cashew-color;
      }
    }
  }

  .row {
    .grid {
      display: grid;
      grid-template-columns: 10rem 1fr;
      margin: 3rem 0;
    }

    .price .value {
      font-size: 5rem;
    }

    .quantity .value {
      width: 7rem;
    }

    .imageContainer {
      height: 45rem;
      padding: 1rem;

      .image {
        height: 40rem;
        width: 100%;
        object-fit: cover;
      }
    }

    .productContainer {
      padding: 2rem;
    }

    .quantity {
      :global(.ant-select-selector):hover {
        border-color: $cashew-color !important;
      }
    }

    .button {
      margin-right: 1rem;
      background-color: $cashew-color;
      color: #000;
      font-weight: 700;
      padding: 2rem 3rem;
      width: 70%;

      &:hover {
        @extend .button;
        border-color: $cashew-color;
      }

      @include mobile {
        width: 100%;
      }
    }

    .checkoutBtn {
      background-color: $almond-color;

      &:hover {
        @extend .checkoutBtn;
        border-color: $almond-color;
      }
    }
  }

  @include mobile {
    .row {
      flex-flow: column wrap;
      gap: 2rem;

      .imageContainer,
      .productContainer {
        padding: 0;
        flex: auto;
        max-width: 100%;
        height: 100%;
      }
    }
  }
}