@import '~styles';

.container {
  @extend .preventSelect;
  display: grid;
  grid-template-columns: 10rem auto;
  height: 10rem;
  padding-bottom: 2rem;
  padding-right: 2rem;

  .icon {
    cursor: pointer;
    color: $primary-color;
  }

  .productDetail {
    position: relative;
    padding-left: 2rem;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .countPrice {
    display: flex;
    justify-content: space-around;
  }

  .count {
    padding: 1rem;
  }

  .countSpan {
    background-color: #c6c6c6;
    border-radius: 1rem;
  }
}