@import '~styles';

.container {
  padding: 2rem;

  .productsColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  @include mobile {
    .shopRow {
      flex-direction: column;
    }

    .sideMenuColumn {
      max-width: 100%;
    }

    .productsColumn {
      max-width: 100%;
      justify-content: center;
    }
  }
}