@import '~styles';

.container {
  padding: 2rem;

  .shopRow {
    @include mobile {
      flex-direction: column;
    }
  }

  .sideMenuColumn {
    @include mobile {
      max-width: 100%;
    }
  }

  .productsColumn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

    @include mobile {
      max-width: 100%;
    }
  }
}