@import '~styles';

.container {
  padding: 2rem;

  .row {
    padding: 2rem 0;
  }

  @include mobile {

    .row {
      flex-flow: column wrap;
    }

    .col1,
    .col2 {
      flex: auto;
      max-width: 100%;
    }
  }
}