@import '../../styles/index.scss';

.container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;

  .logo {
    height: 3rem;
    width: auto;
    margin: 0 1rem;
    cursor: pointer;
    
    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}