@import '../../styles/index.scss';

.container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid $border-color;
  position: absolute;

  .content {
    padding: 5rem 0;
  }

  .logo {
    height: 3rem;
    width: 15rem;
    margin: 0 1rem;
    cursor: pointer;

    .img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .cartIcon {
    cursor: pointer;
  }
}