@import '~styles';

.container {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid $border-color;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;

  .leftContent {
    display: flex;
    align-items: center;
  }

  .rightContent {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    text-shadow: 4px 4px 4px #aaa;
    margin: 0 1rem;
    cursor: pointer;
  }

  .cartIcon {
    cursor: pointer;
  }

  @include mobile {
    .navLinks {
      display: none;
    }

    .logo {
      font-size: 2rem;
    }
  }
}